<h1>Infi Scroll Test new </h1>
<h1>Infi Scroll Test</h1>
<h2>Created new H2</h2>
<div>
  <div
    class="search-results"
    infinite-scroll
    [infiniteScrollDistance]="scrollDistance"
    [infiniteScrollUpDistance]="scrollUpDistance"
    [infiniteScrollThrottle]="throttle"
    (scrolled)="onScrollDown($event)"
    style="display: flex; flex-direction: row; flex-wrap: wrap"
  >
    <div *ngFor="let i of array">
      <div style="width: 200px; height: 200px; margin: 20px; background-color: gray;">
        {{ i }}
      </div>
    </div>
  </div>
</div>
